.single-product {
    width: 280px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.title-desc {
    margin-top: 16px;
}

.product-title {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sign-in {
    margin-top: 10px;
    color: #888792;
    font-size: 12px;
}