/* utility styles */

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.centerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-full {
    width: 100%;
}

/* text sizes */
.text-sm {
    font-size: 12px;
}

/* text colors */
.text-red {
    color: #EB4C6B;
}

/* font weights */

.font-700 {
    font-weight: 700;
}

.font-500 {
    font-weight: 500;
}

.font-400 {
    font-weight: 400;
}

/* text alignment */
.text-center {
    text-align: center;
}